body {
  font-size: 120%;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background-color: #F0F0F0;
  padding: 35px;
  margin-top: 30px;
}

h1 {
  color: #008a00;
}

button, input {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: #008a00;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

.form-control {
  margin-top: 10px;
}

.form-control:focus, .btn:active {
  outline: #F0F0F0;
  box-shadow: none; /* Removes blue halo */
  border-color:#F0F0F0;
}

/* Buttons */

.btn {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-color:#008a00;
  padding-left: 30px;
  padding-right: 30px;
  border:none;
  box-shadow: none; /* Removes blue halo */
}

.btn-primary:hover {
  color:  #5D5D5D;
  background-color: #F0F0F0;
  border-color: #008a00;
  cursor: pointer;
}

.btn-secondary {
  background-color:#F0F0F0;
  border-color: #F0F0F0;
  color: #5D5D5D;
}

.btn-secondary:hover {
  color: white;
  background-color: #008a00;
  border-color: #008a00;
  cursor: pointer;
}